<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
</head>
<body>
    <section class="mx-auto max-w-7xl mt-5 p-2.5">
        <div class="flex flex-col justify-center items-center">
            <h3 class="text-lg text-gray-600">Témoignage des clients</h3>
            <h2 class="font-bold text-4xl capitalize text-center">Histoire de réussite et témoignages</h2>
        </div>

        <div class="testimonial-carousel mt-10">
            <div class="border-2 rounded-[14px] p-4 mx-2">
                <img src="assets/images/format_quote.svg" alt="Icône" class="w-12 h-12" />
                <h3 class="pt-1.5 text-lg font-bold text-gray-900">Le partenariat avec Samiul a été un tournant pour nous</h3>
                <p class="pt-1.5 text-sm/normal text-gray-600">Travailler avec Samiul a changé la donne. Il a transformé l'expérience utilisateur de notre site Web, le rendant intuitif et visuellement époustouflant. Nos clients l'adorent !</p>
            </div>
            <div class="border-2 rounded-[14px] p-4 mx-2">
                <img src="assets/images/format_quote.svg" alt="Icône" class="w-12 h-12" />
                <h3 class="pt-1.5 text-lg font-bold text-gray-900">Le partenariat avec Samiul a été un tournant pour nous</h3>
                <p class="pt-1.5 text-sm/normal text-gray-600">Travailler avec Samiul a changé la donne. Il a transformé l'expérience utilisateur de notre site Web, le rendant intuitif et visuellement époustouflant. Nos clients l'adorent !</p>
            </div>
            <div class="border-2 rounded-[14px] p-4 mx-2">
                <img src="assets/images/format_quote.svg" alt="Icône" class="w-12 h-12" />
                <h3 class="pt-1.5 text-lg font-bold text-gray-900">Le partenariat avec Samiul a été un tournant pour nous</h3>
                <p class="pt-1.5 text-sm/normal text-gray-600">Travailler avec Samiul a changé la donne. Il a transformé l'expérience utilisateur de notre site Web, le rendant intuitif et visuellement époustouflant. Nos clients l'adorent !</p>
            </div>
        </div>
    </section>

    <script>
        const slider = tns({
            container: '.testimonial-carousel',
            items: 1,
            slideBy: 1,
            autoplay: false,
            controls: false,
            nav: true,
            navPosition: 'bottom',
            responsive: {
                640: {
                    items: 2
                },
                1024: {
                    items: 3
                }
            }
        });
    </script>
</body>
</html>